.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selects {
  display: flex;
  gap: 20px;
  padding: 10px;
  z-index: 1;
}
