.App {
   text-align: center;
   height: 100vh;
   text-align: center;
   background-image: url('../public/home-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items:center;
   background-position: center;
}
